/* Los estilos de tu proyecto */
#form_image {
  background-image: url(../assets/images/taxi.jpg);
  height: 100vh;
  background-position: bottom;
  background-size: cover;
}

#drive_image {
  background-image: url(../assets/images/conduce.jpg);
  height: 50%;
  background-position: bottom;
  background-size: cover;
}

form#where_to  div.form-group  #exampleInputName1::placeholder {
  color: white;
}

form#where_to  div.form-group  #exampleInputName2::placeholder {
  color: white;
}

/* We want Jumbotron back and we had*/
#form_image > div.jumbotron {
  margin-top: 15%;
  border-radius: 0;
}

body > section > div:nth-child(3) > div.media {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 3%;
  margin-top: 3%;
  border: 2px solid white;
}

#drive_image > div {
  padding: 10% 0;
}

input#exampleInputName1.formcontrol.corporate-yellow::placeholder{
  color: white;
}

body > section > div:nth-child(5) > div > div > div.col-md-6.corporate-yellow {
  padding: 10% 0;
}

body > section > div:nth-child(5) > div > div > div:nth-child(2) > img {
  padding: 10% 0;
}

body > section > footer > div > div:nth-child(1) > img {
  padding-top: 5%;
}

body > section > footer > div > div:nth-child(3) > div.col-md-2 {
  padding-top: 35%;
}

body > section > footer > div > div:nth-child(3) > div.col-md-3 {
  padding-top: 25%;
}

/*clase para combiar tamaño de letra */
.font-size {
  font-size: 1.5em;
}

.pading-footer {
  padding-bottom: 10%;
}
.corporate-yellow {
  background-color: #F7B617;
  color: white;
}

.white{
  background-color: white;
  border: none;
}
.grey-footer {
  background-color: #2B2B2B;
  border: 1px solid #2B2B2B;
  color: white;
}

.white-none {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.modal-color-login {
  background-color: #08AC9D;
}

.perfil-size {
  width: 45%;
  margin: 0 auto;
}

.grey-modal{
  background-color: #A9A9A9;
}

/* lineas before and after*/
.fancy {
  line-height: 0.5;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 105%;
  border-bottom: 1px solid white;
  top: 0;
  width: 220%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
